<style>
.container {
  height: 200px;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}
 
body {background-color: #000000;}

</style>
